button{
  margin-left: 18%;
    width: 170px;
}
h1{
  margin-left: 142px;
  font-family: 'Times New Roman', Times, serif
}
.main_div{
  margin-left: 634px;
}
form{
  width: 25%;
  margin-left: 35%;
}


