<div class="sidebar" style="position: fixed;">

    <ul>
      <li><a routerLink="/HomeComponent"><i class="fa fa-home">Home</i></a></li>
      <li><a routerLink="/ShopComponent"><i class="fa fa-shopping-cart">Shop</i></a></li>
      <li><a routerLink="/orders" ><i class="fa fa-cart-plus">order</i></a></li>
      <li><a routerLink="/AccountComponent"><i class="fa fa-sliders-h">Account</i></a></li>
      <li><a routerLink="/about"><i class="fa fa-question-circle">About</i></a></li>
      <li><a routerLink="/contact"><i class="fa fa-envelope">Contact</i></a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-qrcode">Dashboard</i></a></li>
    </ul>
</div>







<p style="margin-left: 300px;">Contact Us for more details</p>
