<div class="sidebar" style="position: fixed;">

    <ul>
      <li><a routerLink="/HomeComponent"><i class="fa fa-home">Home</i></a></li>
      <li><a routerLink="/ShopComponent"><i class="fa fa-shopping-cart">Shop</i></a></li>
      <li><a routerLink="/orders" ><i class="fa fa-cart-plus">order</i></a></li>
      <li><a routerLink="/AccountComponent"><i class="fa fa-sliders-h">Account</i></a></li>
      <li><a routerLink="/about"><i class="fa fa-question-circle">About</i></a></li>
      <li><a routerLink="/contact"><i class="fa fa-envelope">Contact</i></a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-qrcode">Dashboard</i></a></li>
    </ul>
</div>




<div style="margin-left: 300px;">
  <i class="fa fa-book" aria-hidden="true"></i>
<P>ebook</P>

<i class="fas fa-book-reader"></i>
<p>e-readers</p>

<i class='fab fa-audible'></i>
<p>audible</p>

<i class='fas fa-dice-d6' style='font-size:24px'></i>
<p>gaming</p>

<i class="fa fa-desktop" aria-hidden="true"></i>
<p>software</p>

<i class="fa fa-music" aria-hidden="true"></i>
<p>music</p>

<i class="fa fa-gift" aria-hidden="true"></i>
<p>gifts</p>

<i class="fa fa-cart-plus" aria-hidden="true"></i>
<p>carts</p>

<i class="fa fa-paint-brush" aria-hidden="true"></i>
<p>arts</p>

<i class="fa fa-medkit" aria-hidden="true"></i>
<p>health</p>
</div>





