

 <div class="sidebar" style="position: fixed;">

    <ul>
      <li><a routerLink="/HomeComponent"><i class="fa fa-home">Home</i></a></li>
      <li><a routerLink="/ShopComponent"><i class="fa fa-shopping-cart">Shop</i></a></li>
      <li><a routerLink="/orders" ><i class="fa fa-cart-plus">order</i></a></li>
      <li><a routerLink="/AccountComponent"><i class="fa fa-sliders-h">Account</i></a></li>
      <li><a routerLink="/about"><i class="fa fa-question-circle">About</i></a></li>
      <li><a routerLink="/contact"><i class="fa fa-envelope">Contact</i></a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-qrcode">Dashboard</i></a></li>
    </ul>
</div>



<br>
<br>
<br>
<br>
<br>
<form style="width: 25%; margin-left: 35%;">
  <h1>Create Account</h1>
  <br>

  <div class="form-outline mb-4">
    <input type="name" id="form1Example1" class="form-control" />
    <label class="form-label" for="form1Example1">username</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form1Example2" class="form-control" />
    <label class="form-label" for="form1Example2">Password</label>
  </div>

  <div class="form-outline mb-4">
    <input type="number" id="form1Example2" class="form-control" />
    <label class="form-label" for="form1Example2">Mobile number</label>
  </div>


  <button type="submit"  class="btn btn-primary btn-block">Continue</button>
</form>



